# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Machine Learning models
*.pkl
*.joblib

# Dataset
data/*.csv

# Node
node_modules/
frontend/dist/
frontend/build/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db